@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.wrapper .soon {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 700;
    font-size: 5em;

    text-transform: lowercase;

    color: #666;

    user-select: none;

    margin-bottom: -40px;
}

.wrapper .links {
    display: flex;
    justify-content: center;
}

.wrapper .links a {
    pointer-events: all;
    display: block;
    font-size: 2em;
    color: #666666;
    margin-right: 10px;
}

.wrapper .links a:hover {
    color: #999999;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.background canvas {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 699px) {
    .wrapper .soon {
        font-size: 4em;
    }
}
